{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{% include 'parts/sidenavdebut.twig' %}

<h1 class="text-center">
    Vue d'ensemble commentaires
</h1>

<br>

<div class="row container-fluid padding-left padding-top ">



    {# une card #}
    <div class="col-xs-6 ">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commentaires non lus</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">il y a
                    {{comments.news}}
                    commentaires encore non-approuvés</h6>
                <p class="card-text"></p>
                <hr>
                <div class="row container  padding-top ">
                    <a href="{{ constant('ROOT') }}/admin/comments/news" class="card-link">Voir les commentaires</a>
                </div>
            </div>
        </div>
    </div>

    {# une card #}
    <div class="col-xs-6 ">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commentaires signalés</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">il y a
                    {{comments.reported}}
                    commentaires signalés</h6>
                <p class="card-text"></p>
                <hr>
                <div class="row container  padding-top ">
                    <a href="{{ constant('ROOT') }}/admin/comments/reported" class="card-link">Voir les commentaires</a>
                </div>
            </div>

        </div>
    </div>

    {# une autre card #}
    <div class="col-xs-6 ">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commentaires lus</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">il y a
                    {{comments.checked}}
                    commentaires approuvés</h6>
                <p class="card-text"></p>
                <hr>
                <div class="row container  padding-top ">
                    <a href="{{ constant('ROOT') }}/admin/comments/approuved" class="card-link">Voir les commentaires</a>
                </div>
            </div>

        </div>
    </div>

</div>

{# fermeture du contenu a supprimer si le footer est ajouté #}
</div>
{# fermeture du contenu a supprimer si le footer est ajouté #}
{% include 'parts/sidenavfin.twig' %}
{# {% include 'parts/footer.twig' %} #}
{% include 'parts/endScript.twig' %}