{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{% include 'parts/sidenavdebut.twig' %}

<h1 class="text-center">
    Commentaires
    {{page}}
</h1>

<br>

{% if erreur != null %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{erreur}}
    </div>
{% endif %}



<div class="row container-fluid padding-left padding-top ">

    <table class="table">
        <thead>
            <tr>
                <th class="td-infos" scope="col">Id chapitre</th>
                <th class="td-infos" scope="col">Date</th>
                <th class="td-infos" scope="col">Pseudo</th>
                <th scope="col">Texte</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>

            {# debut tableau #}
            {% for item in comments %}
                <tr>
                    <th class="td-infos" scope="row">{{item.id_chapitre}}</th>

                    <td class="td-infos">{{item.date_creation}}</td>

                    <td class="td-infos">{{item.pseudo}}</td>
                    <td>{{item.content|raw}}</td>
                    <td>
                        <div class="row container">
                            {% if link != "approuved" %}
                                <div class="col-xs-6">
                                    <button class="btn btn-sm btn-success btn-table" onclick="confirmCheckComment( '{{item.id}}', '{{item.pseudo}}', '{{link}}', '{{index_page}}' )">
                                        Approuver
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-xs-6">
                                <button class="btn btn-sm btn-danger btn-table" onclick="confirmDeleteComment( '{{item.id}}', '{{item.pseudo}}', '{{link}}', '{{index_page}}' )">
                                    Supprimer
                                </button>

                            </div>
                        </div>
                    </td>

                </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

{# fermeture du contenu a supprimer si le footer est ajouté #}
</div>
{# fermeture du contenu a supprimer si le footer est ajouté #}

<script src="{{ constant('ROOT') }}/includes/js/confirm.js"></script>

{% include 'parts/paginationCommentsAdmin.twig' %}
{% include 'parts/sidenavfin.twig' %}
{# {% include 'parts/footer.twig' %} #}
{% include 'parts/endScript.twig' %}