{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}
{% include 'parts/sidenavdebut.twig' %}

<h1 class="text-center">
    tableau de bord
</h1>

<br>

<div class="row container-fluid padding-left padding-top ">

    {# une card #}
    <div class="col-xs-6 ">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">commentaires</h5>
                <h6 class="card-subtitle mb-2 text-muted">recapitulatif</h6>
                <p class="card-text">il y a
                    {{comments}}
                    commentaires au total dont
                    {{reported}}
                    signalés</p>

                <a href="{{ constant('ROOT') }}/admin/comments" class="card-link">les commentaires</a>
                <a href="{{ constant('ROOT') }}/admin/comments/reported" class="card-link">les signalements</a>
            </div>
        </div>
    </div>
    {# une autre card #}
    <div class="col-xs-6 ">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">articles</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Vous avez rédigé
                    {{nombre_articles}}
                    articles, le plus commenté est le chapitre
                    {{article_most_comment}}</p>
                <a href="{{ constant('ROOT') }}/admin/articles/ajouter" class="card-link">Éditeur</a>
                <a href="{{ constant('ROOT') }}/admin/articles/list" class="card-link">Les articles</a>
            </div>
        </div>
    </div>

</div>
{# fermeture du contenu a supprimer si le footer est ajouté #}
</div>
{% include 'parts/sidenavfin.twig' %}
{# {% include 'parts/footer.twig' %} #}
{% include 'parts/endScript.twig' %}