{% include 'parts/header.twig' %}
{% include 'parts/navbar.twig' %}

<h1 class="text-center">
    les chapitres du livre

</h1>

{% if nbr_pages > 1 %}
    <h2 class="text-center">
        page
        {{index_page}}
        sur
        {{nbr_pages}}.
    </h2>
{% endif %}

<div class="row container-fluid padding-left padding-top">

    {% for item in articles %}

        <div class="col-xs-6 ">
            <div class="card" style="width: 80%;">
                <div class="card-body">
                    <a href="{{ constant('ROOT') }}/chapitre/{{ item.slug }}">

                        <h5 class="card-title">
                            {{ item.title }}</h5>

                        <h6 class="card-subtitle mb-2 text-muted">chapitre numero :
                            {{ item.id_chapitre}}</h6>
                    </a>
                    <br>

                    {% autoescape %}
                        <p class="card-text">
                            {{ item.text[:140]|striptags|raw }}
                            ....</p>
                    {% endautoescape %}

                    <br>
                    <p>
                        commentaires
                        <span class="badge badge-primary badge-pill">{{ item.comments}}</span>
                    </p>

                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% include 'parts/paginateArticles.twig' %}

{% include 'parts/footer.twig' %}

{% include 'parts/endScript.twig' %}